APP_NAME="KontriLab"
APP_URL="http://localhost:3000"
APP_ADMIN_URL=""
NEXT_PUBLIC_APP_NAME="KontriLab"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""

SOCKET_IO_PORT=3001
NEXT_PUBLIC_SOCKET_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:3000

SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM_NAME="KontriLab"
SMTP_FROM_EMAIL="no-reply@kontrilab.com"
